<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tambah Mahasiswa</title>
<link th:replace="fragments/fragment :: stylesheet" />
</head>
<body>
	<div th:replace="fragments/fragment :: navbar('tambahMahasiswa')"></div>
	<br />
	<div class="container">
		<form action="/mahasiswa/tambah/submit" method="post">
			<div class="form-group col-7">
				<div class="alert alert-success" role="alert">
					<h4 class="alert-heading">Well done!</h4>
  					<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  					<hr/>
  					<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
				</div>
				<h3>Tambah Mahasiswa</h3><br /> 
				<label>Nama Lengkap</label> <input
					type="text" class="form-control" name="nama" th:field="nama" /> <br />
				<label>Tempat Lahir</label> <input type="text"
					class="form-control" name="tempatLahir" th:field="tempatLahir" /> <br />
				<label>Tanggal Lahir</label> <input
					type="text" class="form-control" name="tanggalLahir" th:field="tanggalLahir" /> <br />
				<label>Jenis Kelamin</label> 
					<div class="input-group" id="jenisKelamin">
						<select class="custom-select">
							<option selected="selected" th:name="lakiLaki">Laki-laki</option>
							<option th:name="perempuan">Perempuan</option>
						</select>
					</div>
					<br/>
				<label>Agama</label>
					<div class="input-group" id="agama">
						<select class="custom-select">
							<option selected="selected" th:name="1">Islam</option>
							<option th:name="2">Perempuan</option>
							<option th:name="3">Budha</option>
							<option th:name="4">Hindu</option>
							<option th:name="5">Katolik</option>
							<option th:name="6">Konghucu</option>
							<option th:name="7">Protestan</option>
						</select>
					</div>
					<br />
				<label>Golongan Darah</label>
					<div class="input-group" id="golonganDarah">
						<select class="custom-select">
							<option selected="selected" th:name="1">A+</option>
							<option th:name="2">A-</option>
							<option th:name="3">AB+</option>
							<option th:name="4">AB-</option>
							<option th:name="5">B+</option>
							<option th:name="6">B-</option>
							<option th:name="7">O+</option>
							<option th:name="8">O</option>
						</select>
					</div>
					<br />
				<label>Tahun Masuk</label> <input
					type="text" class="form-control" name="tahunMasuk" placeholder="" /> <br />
				<label>Jalur Masuk</label>
					<div class="input-group" id="jalurMasuk">
						<select class="custom-select">
							<option selected="selected" th:name="1">Ujian Tulis Bersama/SBMPTN</option>
							<option th:name="2">Ujian Tulis Mandiri</option>
							<option th:name="3">Undangan Olimpiade</option>
							<option th:name="4">Undangan Paralel/PPKB</option>
							<option th:name="5">Undangan Reguler/SNMPTN</option>
						</select>
					</div>
					<br />
				<label>Id Program Studi</label> <input type="text"
					class="form-control" name="npm" placeholder="" /> <br />	
				<button class="btn btn-primary" type="submit" role="button">Simpan</button>
			</div>
		</form>
	</div>
</body>
</html>